a {
	text-decoration: none;
	color: $color__text-main;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.page-content,
.entry-content,
.entry-summary,
.comment-content {
	
	a {
		&:after {
			content: '\2192';
			font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
			font-size: 80%;
		}
			
		&:focus,
		&:hover {
			color: $color__interactive;
		}
	}
}